<%- include('../partials/head') %> 
    <title>Error Page</title>
  </head>
  <body class="d-flex justify-content-center">
    <section class="container w-50 p-3">
      <div
        class="alert alert-danger d-flex align-items-center container text-center position-relative"
        role="alert"
      >
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div class="position-absolute top-50 start-50 translate-middle">
    
          <h4><b>ERROR 404!!! PAGE NOT FOUND!</b></h4>
    
        </div>
      </div>
      <a class="btn btn-primary" href="/products">Go to Homepage</a>
    </section>
  </body>
</html>
