<%- include('../partials/head') %> 
    <title>Create new product</title>
  </head>
  <body>
     
    <section class="container w-50 p-3">
      
      <h1>Add a New Product</h1>
      <form action="/products" method="POST" class="col-md-auto needs-validation" novalidate>
        <label for="name">Name of Product:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          <input type="text"
          class="form-control" 
          name="name"
          id="name"
          type="text"
          name="name"
          placeholder="Name of Product"
          required
          required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

         <label for="price">Price of Product($):</label>
        <div class="input-group mb-3">  
          <span class="input-group-text">$</span>
          <input type="number" 
          id="price" 
          name="price" 
          class="form-control" 
          aria-label="Amount (to the nearest dollar)"        placeholder="Price of Product"
          required>
          <span class="input-group-text">.00</span>
        </div>
        <label for="category">Category of Product:</label>
        <div class="input-group mb-3">
        <select
          class="form-select"
          aria-label="Default select example"
          id="category"
          name="category"
          required
        > 
        <option selected> Select a Category</option>
        <% for (let category of categories){ %>      
          <option value="<%= category %>"><%= category %> </option>
          <% } %>
        </select>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <br>
      <a class="btn btn-primary" href="/products">Back to Homepage</a>
    </section>
   <%- include('../partials/footer') %> 